<%- include('./partials/header'); %>

  <body class="container">
      <div class="row">
          <div class="col-md-12">
            <form method="POST" class="mx-auto form" action "/signup">
            <div class="h3">Signup</div>
            <div class="mb-3">
                <input class="form-control" id="email" aria-describedby="emailHelp"  type="text" name="email" placeholder="Johndoe@profiler.com" />
            </div>
            <div  class="mb-3">
                <input
                type="password"
                class="form-control" id="password" aria-describedby="emailHelp"
                name="password"
                placeholder="**********"
                />
            </div>
            <div  class="mb-3">
                <input
                type="assword"
                class="form-control" id="password" aria-describedby="emailHelp"
                name="confirmPassword"
                placeholder="**********"
                />
            </div>
            <button  class='btn btn-primary col-md-12'>Signup</button>
            <small>Already have an Account? <a href="/">Login instead</a> </small>
            </form>
          </div>
      </div>
    
    <%- include('./partials/footer'); %>

